﻿/* create multiple icons using a sprite with multiple images */
.ui-icon-custom-bell, 
.ui-icon-custom-donot, 
.ui-icon-custom-asterick, 
.ui-icon-custom-thought, 
.ui-icon-custom-bug {
  background-image: url('images/CustomIcons-36-white.png');
  -moz-background-size: 180px 18px;
  -o-background-size: 180px 18px;
  -webkit-background-size: 180px 18px;
  background-size: 180px 18px;
}

.ui-icon-custom-bell {
  background-position:   -0 50%;
}
.ui-icon-custom-donot {
  background-position:   -36px 50%;
}
.ui-icon-custom-asterick {
  background-position:   -72px 50%;
}
.ui-icon-custom-thought {
  background-position:   -108px 50%;
}
.ui-icon-custom-bug {
  background-position:   -144px 50%;
}
/* create an icon using a single image without sprites */
.ui-icon-custom-bugimage { 
  background-image: url('images/Bug18.png'); 
}
/* hi-res version */
@media only screen and (-webkit-min-device-pixel-ratio: 2) 
{
  .ui-icon-custom-bugimage { 
    background-image: url('images/Bug36.png') !important;
    background-size: 18px 18px; 
  }
}
