﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />        
        @Styles.Render("~/Content/MobileCSS")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/MobileJS")

  <meta name="apple-touch-fullscreen" content="yes" /> 
  <meta name="apple-mobile-web-app-capable" content="yes" /> 
  <script type="text/javascript" src="@Url.Content("~/Scripts/PromptForBookmark.js")" ></script>

  <!-- iPad Low-Res -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/images/apple-touch-icon-72x72.png" />   
  <!-- iPad Hi-Res -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/images/apple-touch-icon-144x144.png" /> 
  <!-- Android -->
  <link rel="apple-touch-icon-precomposed" sizes="android-only" href="~/Content/images/apple-touch-icon-57x57.png" />   
  <!-- default -->
  <link rel="apple-touch-icon-precomposed" href="~/Content/images/apple-touch-icon-57x57.png" />   

  <!-- iPad Low-Res -->
  <link rel="apple-touch-startup-image" href="~/Content/images/startup_image_768x1004.png" media="(device-width: 768px) and (orientation: portrait)" /> 
  <!-- iPad Retina -->
  <link rel="apple-touch-startup-image" href="~/Content/images/startup_image_1536x2008.png" media="(device-width: 1536px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" /> 
  <!-- iPad Low-Res Landscape -->
  <link rel="apple-touch-startup-image" href="~/Content/images/startup_image_1024x748.png" media="(device-width: 768px) and (orientation: landscape)" /> 
  <!-- iPad Retina Landscape -->
  <link rel="apple-touch-startup-image" href="~/Content/images/startup_image_2048x1496.png" media="(device-width: 1536px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" /> 
  <!-- (iPad default) -->
  <link rel="apple-touch-startup-image" href="~/Content/images/startup_image_768x1004.png" /> 

    </head>
 <body>
    <div data-role="page" data-theme="b">
      <div data-role="header" data-position="fixed" data-theme="b">
        <h1>@ViewBag.Title [TABLET]</h1>
       @{
        bool ShowBackButton = false;
        bool ShowHomeButton = false;
        if (ViewBag.ShowBackButton != null && 
            ViewBag.ShowBackButton == true)
        {
          ShowBackButton = true;
        }
        if (ViewBag.ShowHomeButton != null && 
            ViewBag.ShowHomeButton == true)
        {
          ShowHomeButton = true;
        }
        if (ShowBackButton)
        {
          <a data-rel="back" data-role="button" 
             data-transition="slide" data-direction="reverse" 
             data-icon="back">Back</a>
        }
        if (ShowHomeButton)
        {
          <a href="@Url.Action("Index", "Home")" data-role="button"
             data-transition="slide" data-direction="reverse" 
             data-icon="home">Home</a>
        }
      }
      @Html.Partial("_NavBar")
      </div>
      <div data-role="content" data-theme="d">      
@RenderSection("featured", false)
@RenderBody()
      </div>
    </div>
  </body>

</html>
