﻿@{
    ViewBag.Title = "Home Page";
}
@section featured {
 @Html.Partial("_Index_SubPage1")
}
<ul >
  @Html.Partial("_Index_SubPage2")
</ul>
<h3>We suggest the following:</h3>
  @Html.Partial("_Index_SubPage3")
<section class="features">
  @Html.Partial("_Index_SubPage4")
</section>
