﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

        @Styles.Render("~/Content/MobileCSS")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/MobileJS")

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>  

  <meta name="apple-touch-fullscreen" content="no" /> 
  <meta name="apple-mobile-web-app-capable" content="no" /> 
  @*<script type="text/javascript" src="@Url.Content("~/Scripts/PromptForBookmark.js")" ></script>*@

  <!-- iPhone Low-Res -->
  <link rel="apple-touch-icon-precomposed" sizes="57x57"   href="~/Content/images/apple-touch-icon-57x57.png" />
  <!-- iPhone Hi-Res -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/images/apple-touch-icon-114x114.png" /> 
  <!-- Android -->
  <link rel="apple-touch-icon-precomposed" sizes="android-only" href="~/Content/images/apple-touch-icon-57x57.png" />   
  <!-- default -->
  <link rel="apple-touch-icon-precomposed" href="~/Content/images/apple-touch-icon-57x57.png" />   

  <!-- iPhone Low-Res -->
  <link rel="apple-touch-startup-image" href="~/Content/images/startup_image_320x460.png" media="(device-width: 320px)" /> 
  <!-- iPhone Retina -->
  <link rel="apple-touch-startup-image" href="~/Content/images/startup_image_640x920.png" media="(device-width: 640px) and (-webkit-device-pixel-ratio: 2)" /> 
  <!-- iPhone Low-Res Landscape -->
  <link rel="apple-touch-startup-image" href="~/Content/images/startup_image_480x300.png" media="(device-width: 320px) and (orientation: landscape)" /> 
  <!-- iPhone Retina Landscape -->
  <link rel="apple-touch-startup-image" href="~/Content/images/startup_image_960x600.png" media="(device-width: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" /> 
  <!-- (iPhone default) -->
  <link rel="apple-touch-startup-image" href="~/Content/images/startup_image_320x460.png" /> 

    </head>
    <body>
    <div data-role="page" data-theme="b">
      <div data-role="header" data-position="fixed" data-theme="b">
        <h1>@ViewBag.Title (Phone)</h1>
      @{
        bool ShowBackButton = false;
        bool ShowHomeButton = false;
        if (ViewBag.ShowBackButton != null && 
            ViewBag.ShowBackButton == true)
        {
          ShowBackButton = true;
        }
        if (ViewBag.ShowHomeButton != null && 
            ViewBag.ShowHomeButton == true)
        {
          ShowHomeButton = true;
        }
        if (ShowBackButton)
        {
          <a data-rel="back" data-role="button" 
             data-transition="slide" data-direction="reverse" 
             data-icon="back">Back</a>
        }
        if (ShowHomeButton)
        {
          <a href="@Url.Action("Index", "Home")" data-role="button"
             data-transition="slide" data-direction="reverse" 
             data-icon="home">Home</a>
        }
      }
@Html.Partial("_NavBar")
      </div>
      <div data-role="content" data-theme="d">
@RenderSection("featured", false)
@RenderBody()
@Html.Partial("_ViewSwitcher")
      </div>
    </div>
  </bodv>
</html>
