<div data-role="navbar" data-theme="d" data-iconpos="top">
  <ul>
    <li><a href="@Url.Action("Index", "Home")" data-icon="home">Home</a></li>
    <li><a href="@Url.Action("Lists", "Home")" data-icon="custom-thought">List Examples</a></li>
    <li>@Html.ActionLink("About Us", "About", "Home", null, new { data_icon = "custom-bugimage" })</li>
  </ul>
</div>
