<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="@Url.Content("~/Content/jquery.mobile-1.1.0.min.css")" />
    @*<link rel="stylesheet" href="@Url.Content("~/Content/Site.Mobile.css")" />*@
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.6.4.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.mobile-1.1.0.min.js")"></script>

    @*<link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/MobileCSS")" rel="stylesheet" type="text/css" />*@
    @*<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/MobileJS")"></script>*@

    <link rel="apple-touch-icon-precomposed" sizes="72x72"        href="@Url.Content("~/Content/images/apple-touch-icon-72x72.png")" />   <!-- iPad Low-Res -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"      href="@Url.Content("~/Content/images/apple-touch-icon-144x144.png")" /> <!-- iPad Hi-Res -->
    <link rel="apple-touch-icon-precomposed" sizes="android-only" href="@Url.Content("~/Content/images/apple-touch-icon-57x57.png")" />   <!-- Android -->
    <link rel="apple-touch-icon-precomposed"                      href="@Url.Content("~/Content/images/apple-touch-icon-57x57.png")" />   <!-- default -->

    <link rel="apple-touch-startup-image" href="@Url.Content("~/Content/images/startup_image_768x1004.png")"  media="(device-width: 768px) and (orientation: portrait)" /> <!-- iPad Low-Res -->
    <link rel="apple-touch-startup-image" href="@Url.Content("~/Content/images/startup_image_1536x2008.png")" media="(device-width: 1536px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" /> <!-- iPad Retina -->
    <link rel="apple-touch-startup-image" href="@Url.Content("~/Content/images/startup_image_1024x748.png")"  media="(device-width: 768px) and (orientation: landscape)" /> <!-- iPad Low-Res Landscape -->
    <link rel="apple-touch-startup-image" href="@Url.Content("~/Content/images/startup_image_2048x1496.png")" media="(device-width: 1536px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" /> <!-- iPad Retina Landscape -->
    <link rel="apple-touch-startup-image" href="@Url.Content("~/Content/images/startup_image_768x1004.png")" /> <!-- (iPad default) -->

    <meta name="apple-touch-fullscreen" content="no" />
    <meta name="apple-mobile-web-app-capable" content="no" />
    @*<!-- if you are using the mobile-web-app-capable tag, uncomment the following script line to tell your users -->*@
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/PromptForBookmark.js")"></script>*@

    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.ico")" type="image/x-icon" />
    <link rel="icon" href="@Url.Content("~/Content/images/favicon.ico")" type="image/x-icon" />
  </head>
  <body>
    <div data-role="page" data-theme="b">
      <div data-role="header" data-position="fixed" data-theme="b">
        <h1>@ViewBag.Title (Tablet)</h1>
@{
  bool ShowBackButton = false;
  bool ShowHomeButton = false;
  if (ViewBag.ShowBackButton != null && ViewBag.ShowBackButton == true) { ShowBackButton = true; }
  if (ViewBag.ShowHomeButton != null && ViewBag.ShowHomeButton == true) { ShowHomeButton = true; }
  if (ShowBackButton)
  {
    <a data-rel="back" data-role="button" data-transition="slide" data-direction="reverse" data-icon="back">Back</a>
  }
  if (ShowHomeButton)
  {
    <a href="@Url.Action("Index", "Home")" data-role="button" data-transition="slide" data-direction="reverse" data-icon="home">Home</a>
  }
}
      </div>
      <div data-role="content" data-theme="d">
        @RenderSection("featured", false)
        @RenderBody()
      </div>
    </div>
  </body>
</html>