﻿@{ 
  Layout = "../Shared/_Layout.Tablet.cshtml"; 
  ViewBag.Title = "Tablet Home Page"; 
}
<div data-role="collapsible" data-theme="b" 
  data-content-theme="b" data-collapsed="false">
  <h2>Home Page</h2>
  @Html.Partial("_Index_SubPage1")
</div>

@* -- Moved to the Shared/Layout.Phone.cshtml *@
@*    @Html.Partial("_Index_SubPage2")*@

<div data-role="collapsible" data-theme="b" 
  data-content-theme="b" data-collapsed="false">
  <h2>We suggest the following:</h2>
  @Html.Partial("_Index_SubPage3")
</div>

<div data-role="collapsible" data-theme="b" 
  data-content-theme="b" data-collapsed="false">
  <h2>Features</h2>
  @Html.Partial("_Index_SubPage4")
</div>